{% extends 'quiz/main.html' %}

{% block content %}

    <div class="container-lg $primary ">Conditions d'examens </p>
        <p>Ce quiz a pour but de mesurer vos connaissances sur "sujet du Quiz", </p>
        <p>Pour assurer le bon déroulement du questionnaire, un timer sera installé à chaque question. </p>
        <p>Le  score vous sera communiqué dès la fin du Quiz</p>
    </div>

    <div class="container-lg col-1 w-25 mx-auto">
        <a class="row-lg w-100 py-3 my-3 btn btn-primary" href="{%url 'quizReal'%}" role="button"> Lancer le Quiz </a>
    </div>




{% endblock %}