{% extends 'quiz/main.html' %}

{% load static %}

{% block header %}
<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #container-reponses{
        
    }
 </style>
{% endblock %}

{% block content %}

<body>

    <h1>QUIZ</h1>

    <div id="container">

        <div id="container-quizz">

             <div id="container-header">
                 <div id="temps"> ------- temps -------</div>  <!-- tag du compte à rebours pour une question  -->
                 <p id="titre"> ---------- titre ------------- </p> 
                 <p id="question"> -------------- question -------------- </p>
             </div>
         
             <div id="container-reponses">
                 <input name="1" type="checkbox" class="reponse"> <label for="1" class="labRep"> ------- r1 -------</label> 
                 <input name="1" type="checkbox" class="reponse"> <label for="1" class="labRep"> ------- r2 -------</label> 
                 <input name="1" type="checkbox" class="reponse"> <label for="1" class="labRep"> -------r3 -------</label> 
                 <input name="1" type="checkbox" class="reponse"> <label for="1" class="labRep"> -------r4 -------</label> 
             </div>
         
             <form id="myForm" method="POST">
                 <button id="valider" type="submit">Valider</button>
             </form>

        </div>

    </div>

   
</body>   
   {% endblock%}


